body{
    background-color: white;
    }



    .titulo{
        background-color:DodgerBlue;
        color: yellow;
        text-transform: uppercase;
    }

    #nome{
        text-transform: capitalize;
    }

    .letraMaior{
        text-transform: capitalize;
    }

    .corVermelha{
color:red;

    }