body{
    background-color:white;
    }
    .titulo{
        background-color:black;
        color: white;
        text-transform: uppercase;
    }
blockquote{
        background-color:black;
        color: white;
        text-transform: uppercase;
    }
   
    center h3{
        background-color:white;
        color: black;
        text-transform: uppercase;
    
  
    }
   
