body{
    background-color:white;
    }
    .titulo{
        background-color:black;
        color: white;
        text-transform: uppercase;
    }
    center h3{
        background-color:black;
        color: white;
        text-transform: uppercase;
    }